li {
  margin-bottom: 10px;
}

#main {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

#title {
  text-align: center;
  padding-top: 4px;
}

#title p {
  font-style: italic;
}
#image {
  display: block;
  max-width: 4000px;
  max-height: 500px;
  height: auto;
  width: auto;
  align-content: center;
}

#img-caption {
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

#tribute-info {
  padding-left: 5%;
  padding-right: 5%;
}

#footer {
  padding-bottom: 5px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
}